#conter01 {
    width: 950px;
    height: 170px;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
}

#imagen01 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@font-face {
    font-family: 'Roboto900';
    src: url('ruta/a/tu/roboto-900.woff2') format('woff2'),
         url('ruta/a/tu/roboto-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

#tituloEnFoto {
    font-family: 'Roboto900', sans-serif;
    font-size: 2em;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 1;
    mix-blend-mode: screen;
    border-radius: 10px;
    padding: 10px 5px;
}

#conter02 {
    width: 650px;
    height: 550px;
    overflow: hidden;
}

#segundoTitulo {
    font-family: 'Roboto900', sans-serif;
    font-size: 2em;
    color: black;
}

#parrafo {
    font-family: 'Roboto900', sans-serif;
    color: black;
}

.contenedor-imagen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#imagen02 {
    width: 50%;
    height: 75%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.recuadro-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.7);
    color: black;
    background-color: palevioletred;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.contenedor-imagen:hover #imagen02 {
    transform: scale(1.1);
}

.contenedor-imagen:hover .recuadro-texto {
    opacity: 1;
}

#parrafo_subrayado{
    color:purple;
    text-decoration: underline;
}

